* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(233, 47%, 7%);
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    background: hsl(244, 37%, 16%);
    max-width: 23rem;
    margin: 5rem auto;
    text-align: center;
}

.card-img img {
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
    display: block;
    position: relative;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
  flex: 1;
}

.con {flex: 1;}


.img-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsl(277, 64%, 61%);
  opacity: 0.6;
  border-radius: 1rem 1rem 0 0;
}


h1{
    padding: 0 3rem;
    margin-block-start: 1.7rem;
    margin-block-end: 1rem;
}

.insight {color: hsl(277, 64%, 61%);}

.discover {
    padding: 0 3rem;
    line-height: 1.5;
    margin-block-end: 2rem;
    color: hsla(0, 0%, 100%, 0.6);
}

.com {
    line-height: 1.5;
    margin-block-end: 2rem;
    color: hsla(0, 0%, 100%, 0.6);
}

@media (min-width: 1150px) {

   main {
    display: flex;
    flex-direction: row-reverse;
    max-width: 60%;
    text-align: left;
    gap: 1rem;
    border-radius: 1rem;
}

.con {
    display: flex;
    flex-direction: column;
    padding: 0rem 4rem 0 5rem;
    margin: 0 auto;
}

.card-img img {
    border-radius: 0 1rem 1rem 0;
}

.img-wrapper::after {
  border-radius: 0 1rem 1rem 0;
}

h1 {
    margin-top: 2.5rem;
    padding: 0;
    margin-bottom: 2rem;
}


    .stats {
        display: flex;
        justify-content: space-between;
    }
    .discover {
        padding: 0;
        margin-bottom: 3rem;
    }
    
    
}